.main img {
    width: 250px;
}

.main p {
    background-color: darkorange;
}

.main {
margin: 10px;
padding: 10px;
border: 2px solid lightcoral;
background-color: lightsteelblue;
border-radius: 10px;
}

